[submodule "simditor"]
	path = simditor
	url = https://github.com/hustlzp/simditor.git
[submodule "editor"]
	path = editor
	url = https://github.com/hustlzp/editor.git
	branch = xeditor
[submodule "to-markdown"]
	path = to-markdown
	url = https://github.com/hustlzp/to-markdown.git
