.xeditor {
  & > .markdown-editor-wap {
    display: none;
  }
  & > .simditor {
    display: block;
  }

  &.markdown {
    & > .markdown-editor-wap {
      display: block;
    }
    & > .simditor {
      display: none;
    }
  }
}