.xeditor > .markdown-editor-wap {
  display: none;
}
.xeditor > .simditor {
  display: block;
}
.xeditor.markdown > .markdown-editor-wap {
  display: block;
}
.xeditor.markdown > .simditor {
  display: none;
}
