// Container style
.xeditor {
  display: block;

  .xeditor-wapper {
    border: 1px solid #c9d8db;
    position: relative;
  }
}

// Toolbar style
.xeditor-toolbar {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  padding: 0 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    & > li {
      position: relative;
      float: left;
      display: block;

      & > a {
        display: inline-block;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        font-size: 15px;
        width: 46px;
        height: 40px;
        line-height: 40px;
        opacity: 0.6;
        color: #333;
        z-index: 21;
        background-color: #fff;

        &.active {
          background: #eeeeee;
          opacity: 1;
        }

        &.disabled {
          cursor: default;

          span {
            opacity: 0.3;
          }
        }

        &.meditor-icon-markdown {
          background: #eeeeee;
          opacity: 1;
        }
      }

      .separator {
        display: block;
        float: left;
        background: #cfcfcf;
        width: 1px;
        height: 18px;
        margin: 11px 15px;
      }

      & > .toolbar-menu {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 20;
        background: #ffffff;
        text-align: left;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

        ul {
          min-width: 160px;
          list-style: none;
          margin: 0;
          padding: 10px 1px;

          & > li {
            .menu-item {
              display: block;
              font-size: 16px;
              line-height: 2em;
              padding: 0 10px;
              text-decoration: none;
              color: #666666;

              &:hover {
                background: #f6f6f6;
              }
            }
          }
        }

        input {
          display: none;
        }
      }

      &.active a {
        background: #eeeeee;
        opacity: 1;
      }

      &:hover {
        & > a {
          opacity: 1;
        }
      }

      &.menu-on {
        & > a {
          position: relative;
          z-index: 21;
          background: #ffffff;
          box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.2);
          opacity: 1;
        }

        .toolbar-menu {
          display: block;
        }
      }
    }
  }
}

// Body container style
.xeditor-body {
  min-height: 300px;
  height: auto;
  padding: 20px 20px 30px 20px;
  outline: none;
  cursor: text;
  position: relative;
  z-index: 1;
  background: transparent;
  font-family: arial, sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #333;
  word-wrap: break-word;
}

// Rich editor body content style
.xeditor-body.simditor-body {
  outline: none;

  & > :first-child {
    margin-top: 0 !important;
  }

  a {
    color: #4298BA;
    text-decoration: none;
    word-break: break-all;
  }
  a:visited {
    color: #4298BA;
  }
  a:hover {
    color: #0F769F;
  }
  a:active {
    color: #9E792E;
  }
  a:hover, a:active {
    outline: 0;
  }

  p, div {
    word-wrap: break-word;
    margin: 0 0 15px 0;
    color: #333;
    word-wrap: break-word;
  }

  b, strong {
    font-weight: bold;
  }

  i, em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  strike, del {
    text-decoration: line-through;
  }

  ul, ol {
    list-style: disc outside none;
    margin: 15px 0;
    padding: 0 0 0 40px;
    line-height: 1.6;

    ul, ol {
      padding-left: 30px;
    }

    ul {
      list-style: circle outside none;

      ul {
        list-style: square outside none;
      }
    }
  }

  ol {
    list-style: decimal;
  }

  blockquote {
    border-left: 6px solid #ddd;
    padding: 5px 0 1px 10px;
    margin: 15px 0 15px 15px;

    & > :first-child {
      margin-top: 0;
    }
  }

  pre {
    padding: 10px 5px 10px 10px;
    margin: 15px 0;
    display: block;
    line-height: 18px;
    background: #F0F0F0;
    border-radius: 3px;
    font-size: 13px;
    font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
  }

  code {
    display: inline-block;
    padding: 0 4px;
    margin: 0 5px;
    background: #eeeeee;
    border-radius: 3px;
    font-size: 13px;
    font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
  }

  hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
    padding: 0;
  }

  img {
    margin: 0 5px;
    vertical-align: middle;
  }

  *[data-indent="1"] {
    margin-left: 40px;
  }
  *[data-indent="2"] {
    margin-left: 40px * 2;
  }
  *[data-indent="3"] {
    margin-left: 40px * 3;
  }
  *[data-indent="4"] {
    margin-left: 40px * 4;
  }
  *[data-indent="5"] {
    margin-left: 40px * 5;
  }
  *[data-indent="6"] {
    margin-left: 40px * 6;
  }
  *[data-indent="7"] {
    margin-left: 40px * 7;
  }
  *[data-indent="8"] {
    margin-left: 40px * 8;
  }
  *[data-indent="9"] {
    margin-left: 40px * 9;
  }
  *[data-indent="10"] {
    margin-left: 40px * 10;
  }
}

// Markdown editor body content style
.xeditor-body.meditor-body {
  /* PADDING */
  .CodeMirror-lines {
    padding: 0px 0; /* Vertical padding around content */
  }
  pre {
    padding: 0 0px; /* Horizontal padding of content */
  }

  .CodeMirror-scrollbar-filler {
    background-color: white; /* The little square between H and V scrollbars */
  }

  /* CURSOR */
  div.CodeMirror-cursor {
    border-left: 1px solid black;
    z-index: 3;
  }
  /* Shown when moving in bi-directional text */
  div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
  }
  &.cm-keymap-fat-cursor div.CodeMirror-cursor {
    width: auto;
    border: 0;
    background: #7e7;
    z-index: 1;
  }
  /* Can style cursor different in overwrite (non-insert) mode */
  div.CodeMirror-cursor.CodeMirror-overwrite {
  }

  /* DEFAULT THEME */
  .cm-keyword {
    color: #555;
  }
  .cm-atom {
    color: #7f8c8d;
  }
  .cm-number {
    color: #7f8c8d;
  }
  .cm-def {
    color: #00f;
  }
  .cm-variable {
    color: black;
  }
  .cm-variable-2 {
    color: #555;
    line-height: 1.6;
  }
  .cm-variable-3 {
    color: #085;
  }
  .cm-property {
    color: black;
  }
  .cm-operator {
    color: black;
  }
  .cm-comment {
    color: #959595;
  }
  .cm-string {
    color: #7f8c8d;
  }
  .cm-string-2 {
    color: #f50;
  }
  .cm-meta {
    color: #555;
  }
  .cm-error {
    color: #f00;
  }
  .cm-qualifier {
    color: #555;
  }
  .cm-builtin {
    color: #555;
  }
  .cm-bracket {
    color: #997;
  }
  .cm-tag {
    color: #7f8c8d;
  }
  .cm-attribute {
    color: #7f8c8d;
  }
  .cm-header {
    color: #000;
  }
  .cm-quote {
    color: #888;
  }
  .cm-hr {
    color: #999;
  }
  .cm-link {
    color: #7f8c8d;
  }

  .cm-negative {
    color: #d44;
  }
  .cm-positive {
    color: #292;
  }
  .cm-header, .cm-strong {
    font-weight: bold;
  }
  .cm-em {
    font-style: italic;
  }
  .cm-link {
    text-decoration: underline;
  }

  .cm-invalidchar {
    color: #f00;
  }

  span.CodeMirror-matchingbracket {
    color: #0f0;
  }
  span.CodeMirror-nonmatchingbracket {
    color: #f22;
  }
}

/* STOP */

// The rest of this file contains styles related to the mechanics of
// the editor. You probably shouldn't touch them.
.xeditor {
  display: block;

  .meditor {
    overflow: hidden;
    display: none;
  }

  .simditor {
    display: block;
  }

  &.markdown {
    .meditor {
      display: block;
    }

    .simditor {
      display: none;
    }
  }
}
